@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bg: #ffffff;
  --bg-alt: #ffffff;
  --fg: #0f172a;
  --fg-muted: #708090;
  --accent: #347dec;
  --accent-hover: #1053b92c;
  --border: #3f3f3f46;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg);
  min-height: 100vh;
  padding: 10px;
  color: var(--fg);
  background-image: radial-gradient(
    circle at bottom left,
    rgba(46, 255, 140, 0.6) 0%,
    transparent 40%
  );
}

button {
  border: none;
  padding: 10px 0px;
  color: var(--accent);
  font-size: 1rem;
  border-radius: 6px;
  background-color: var(--accent-hover);
}

.dashboard-conteiner {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 10%;
  animation: fadeInDown 0.4s ease;
  border-bottom: solid 3px var(--accent);
  backdrop-filter: blur(10px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

header span {
  color: var(--fg);
  font-size: 2rem;
}

header span:nth-child(2) {
  color: var(--accent);
  font-size: 2rem;
}

.total-badge {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px 0px;
  border-radius: 12px;
  font-size: 1.2rem;
  margin-top: 100px;
}

.total,
.ref {
  background-color: var(--accent);
  color: var(--bg);
  border-radius: 6px;
  padding: 6px 10px;
}

.total-badge strong {
  font-size: 1.2rem;
  margin-left: 8px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.pedido-card {
  background-color: var(--bg-alt);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 12px;
  animation: scaleIn 0.3s ease;
  transition: transform 0.2s;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed var(--border);
  padding-bottom: 10px;
}

.card-header h3 {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--accent-hover);
  padding: 6px 10px;
  border-radius: 6px;
  color: var(--accent);
}

.badge-qtd {
  background-color: #f1f5f9;
  color: var(--fg);
  padding: 4px 10px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 0.9rem;
}

.card-body p {
  font-size: 0.95rem;
  color: var(--fg-muted);
  line-height: 1.5;
  margin-bottom: 8px;
}

.card-body strong {
  color: var(--fg);
}

.nomes-extras {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.nome-tag {
  background-color: var(--accent-hover);
  color: var(--accent);
  font-size: 0.8rem;
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: 500;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
